# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.


# NEXT_PUBLIC_ Needs to be specified in Makefile and Dockerfile to be provided at buildtime
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_ELEVENLABS_MAX_ACTIVE_SAMPLES=25

# db
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL=
DATABASE_LOG_LEVEL=INFO

# clerk
CLERK_SECRET_KEY=

# bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
BUCKET_HOST=
BUCKET_NOTIFICATION_SECRET=

# elevenlabs
ELEVENLABS_API_KEY=
ELEVENLABS_MAX_VOICES=
ELEVENLABS_MAX_CONCURRENCY=
